@charset "utf-8";

h1{
	margin-bottom: 0;
	
	&#title{
		position: relative;
	
		a{
			display: inline-block;
			position: relative;
			top: -5px;
		}
	}
}

.align-right{
	text-align: right;
}

ul.breadcrumb{
	display: inline-block;
}

input.error{
	border-color: #DD0000;
}

span.error{
	color: #DD0000;
}

#loading{
	width: 300px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
}

table#index{
	td:nth-child(1){
		width: auto;
	}
	
	td:nth-child(4){
		width: 280px;
	}
}

table.follows{
	width: 100%;
	margin-top: 1em;
	
	th, td{
		border: 0;
	}
	
	th{
		text-align: left;		
	}
	
	td{
		text-align: right;
	}
}

.forker{
	display: block;
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}